@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    font-family: "Roboto Slab";
    color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    background-color: rgb(5, 5, 5);
}

nav {
    background-color: rgb(20, 20, 20);
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav a {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    text-decoration-line: none;
    font-size: medium;
}

a:link, a:visited {
    color: white;
    text-decoration-line: none;
}

nav a:hover {
    background-color: rgb(43, 43, 43);
}

nav a:active {
    background-color: rgb(17, 17, 17);
}

nav a.nav-title {
    font-size: x-large;
    font-weight: 500;
}

main a {
    font-style: italic;
    color: rgb(211, 136, 255);
}

main a:hover {
    text-decoration: underline;
}

a.nav-title:hover {
    background-color: revert;
}

header {
    background-color: rgb(15, 15, 15);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    font-size: 56pt;
    text-shadow: 0 0 21px;
}

main {
    margin: 10px;
    flex: 1 0 auto;
}

section.content-block {
    padding: 5px;
    background-color: rgb(10, 10, 10);
}

section.content-block > section {
    margin-top: 1.5em;
}

footer {
    width: 100%;
    text-align: center;
    color: gray;
    font-size: smaller;
    min-height: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #010101;
    line-height: 1.8em;
}

.alternating:not(.hoveralternating) > span.a,
.alternating.hoveralternating:hover > span.a {
    color: blue;
}

.alternating:not(.hoveralternating) > span.b,
.alternating.hoveralternating:hover > span.b {
    color: magenta;
}

.alternating:not(.hoveralternating) > span.c,
.alternating.hoveralternating:hover > span.c {
    color: red;
}

.nav-title:hover {
    text-shadow: 0 0 7px;
}

section .sectionheader {
    font-size: 24pt;
}

button {
    font-family: inherit;
    font-size: inherit;
    border-radius: 7px;
    border: 0px;
    background-color: rgb(132, 0, 255);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(156, 49, 255);
}

button:active {
    background-color: rgb(103, 0, 199);
}
